# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.cxx text
*.h text
*.hpp text
*.cs text
*.js text
*.ts text
*.py text
*.java text
*.pl text

*.htm text
*.html text
*.xml text
*.xsl text

*.txt text
*.md text

*.json text
*.in text

wscript text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.* text eol=crlf
*.csproj text eol=crlf

*.def text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.bmp binary
*.ico binary
*.raw binary

*.doc binary
*.docx binary
*.xls binary
*.xlsx binary

*.pdf binary

*.tar binary
*.tar.gz binary
*.zip binary
*.tgz binary
*.jar binary

*.sio binary
*.ntf binary
*.nitf binary
*.sicd binary
*.sidd binary





