<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="nitro" ToolsVersion="16.0">
  <Include Path="cppcorechecktyperules.ruleset" Action="Default" />
  <Include Path="cppcorecheckuniquepointerrules.ruleset" Action="Default" />
  <Include Path="nativerecommendedrules.ruleset" Action="Default" />
</RuleSet>